{% extends "base_generic.html" %}

{% block content %}

<div class="pt-24">
    
</div>


<div class="flex flex-row flex-wrap justify-center mx-4">
        <div class="max-w-xs whitebg shadow-lg rounded-lg overflow-hidden my-10 mx-4">
            <div class="px-4 py-2">
                <h1 class="blackfont font-bold text-3xl uppercase">Honey</h1>
                <p class="blackfont text-sm mt-1">Natural linden honey from Bashkiria</p>
                <p class="text-blue-400 text-sm mt-1">#Food #Sweets</p>
            </div>
            <img class="h-56 w-full object-cover mt-2" src="https://cdnimg.rg.ru/img/content/168/58/73/iStock-887517012_d_850.jpg">
            <div class="flex items-center justify-between px-4 py-2 yellowbg">
                <h1 class="blackfont font-bold text-xl">2000 coins</h1>
                <button class="px-3 py-1 whitebg text-sm blackfont font-semibold rounded">Buy</button>
            </div>
        </div>
        <div class="max-w-xs whitebg shadow-lg rounded-lg overflow-hidden my-10 mx-4">
            <div class="px-4 py-2">
                <h1 class="blackfont font-bold text-3xl uppercase">Peanut Butter</h1>
                <p class="blackfont text-sm mt-1">A soft, salty mass that perfectly satisfies hunger</p>
                <p class="text-blue-400 text-sm mt-1">#Food #Sweets</p>
            </div>
            <img class="h-56 w-full object-cover mt-2" src="https://www.abelandcole.co.uk/media/6578_18472_z.jpg">
            <div class="flex items-center justify-between px-4 py-2 yellowbg">
                <h1 class="blackfont font-bold text-xl">864 coins</h1>
                <button class="px-3 py-1 whitebg text-sm blackfont font-semibold rounded">Buy</button>
            </div>
        </div>
        <div class="max-w-xs whitebg shadow-lg rounded-lg overflow-hidden my-10 mx-4">
            <div class="px-4 py-2">
                <h1 class="blackfont font-bold text-3xl uppercase">Barbecue Sauce</h1>
                <p class="blackfont text-sm mt-1">Sauce, great with grilled meat and marinade</p>
                <p class="text-blue-400 text-sm mt-1">#Food #Sauce</p>
            </div>
            <img class="h-56 w-full object-cover mt-2" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2011/7/26/0/NY0100_neelys-bbq-sauce_s4x3.jpg.rend.hgtvcom.826.620.suffix/1371597847826.jpeg">
            <div class="flex items-center justify-between px-4 py-2 yellowbg">
                <h1 class="blackfont font-bold text-xl">735 coins</h1>
                <button class="px-3 py-1 whitebg text-sm blackfont font-semibold rounded">Buy</button>
            </div>
        </div>
        <div class="max-w-xs whitebg shadow-lg rounded-lg overflow-hidden my-10 mx-4">
            <div class="px-4 py-2">
                <h1 class="blackfont font-bold text-3xl uppercase">Honey</h1>
                <p class="blackfont text-sm mt-1">Natural linden honey from Bashkiria</p>
                <p class="text-blue-400 text-sm mt-1">#Food #Sweets</p>
            </div>
            <img class="h-56 w-full object-cover mt-2" src="https://cdnimg.rg.ru/img/content/168/58/73/iStock-887517012_d_850.jpg">
            <div class="flex items-center justify-between px-4 py-2 yellowbg">
                <h1 class="blackfont font-bold text-xl">2000 coins</h1>
                <button class="px-3 py-1 whitebg text-sm blackfont font-semibold rounded">Buy</button>
            </div>
        </div>
        <div class="max-w-xs whitebg shadow-lg rounded-lg overflow-hidden my-10 mx-4">
            <div class="px-4 py-2">
                <h1 class="blackfont font-bold text-3xl uppercase">Peanut Butter</h1>
                <p class="blackfont text-sm mt-1">A soft, salty mass that perfectly satisfies hunger</p>
                <p class="text-blue-400 text-sm mt-1">#Food #Sweets</p>
            </div>
            <img class="h-56 w-full object-cover mt-2" src="https://www.abelandcole.co.uk/media/6578_18472_z.jpg">
            <div class="flex items-center justify-between px-4 py-2 yellowbg">
                <h1 class="blackfont font-bold text-xl">864 coins</h1>
                <button class="px-3 py-1 whitebg text-sm blackfont font-semibold rounded">Buy</button>
            </div>
        </div>
        <div class="max-w-xs whitebg shadow-lg rounded-lg overflow-hidden my-10 mx-4">
            <div class="px-4 py-2">
                <h1 class="blackfont font-bold text-3xl uppercase">Barbecue Sauce</h1>
                <p class="blackfont text-sm mt-1">Sauce, great with grilled meat and marinade</p>
                <p class="text-blue-400 text-sm mt-1">#Food #Sauce</p>
            </div>
            <img class="h-56 w-full object-cover mt-2" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2011/7/26/0/NY0100_neelys-bbq-sauce_s4x3.jpg.rend.hgtvcom.826.620.suffix/1371597847826.jpeg">
            <div class="flex items-center justify-between px-4 py-2 yellowbg">
                <h1 class="blackfont font-bold text-xl">735 coins</h1>
                <button class="px-3 py-1 whitebg text-sm blackfont font-semibold rounded">Buy</button>
            </div>
        </div>
</div>

{% endblock %}