{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">



    <!--Загаловок страницы-->
    <title>SOBE</title>

    <!--Иконка сайта-->
    <link rel="shortcut icon" href="{% static 'main/img/logo_yellow.svg' %}" >
    

    <!--Tailwind CSS-->
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css">

    <!--Шрифт-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Nunito+Sans&display=swap" rel="stylesheet">

    <!--Основная палитра-->
    <style>
        .blackbg{
            background: #101010;
        }
        .yellowbg{
            background: #FFCE38;
        }
        .pinkbg{
            background: #FF3D67;
        }
        .whitebg{
            background: #FFFDFD;
        }
        .blackfont{
            color: #101010;
        }
        .whitefont{
            color: #FFFDFD;
        }
        .yellowfont{
            color: #FFCE38;
        }
        .pinkfont{
            color: #FF3D67;
        }

    </style>


    <style >
        .dropdown:hover .dropdown-menu {
        display: block;
    }
    </style>

</head>


<body class="leading-normal tracking-normal blackbg whitefont" style="font-family: 'Hind Siliguri', sans-serif;">
   
    {% if username != None %}
    <nav class="fixed flex items-center justify-between flex-wrap ">
        <div class="fixed w-full z-30 top-0 py-2 flex flex-row justify-between yellowbg">
            <div class="block ml-2 rounded-lg flex flex-row blackbg">
                <button class="navbar-burger flex items-center px-3 py-2 rounded-lg yellowfont ">
                    <svg class="fill-current h-3 w-3 sm:h-6 sm:w-6 " viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z">
                    </svg>
                </button>

                <div class="place-self-center flex flex-row align-center">
                    <p class="place-self-center yellowfont font-bold text-xs sm:text-sm md:text-base mx-2" style="font-family: 'Nunito Sans'">SOBE</p>

                    <img src="{% static 'main/img/logo_yellow.svg' %}" class="mx-4 w-4 h-4 place-self-center my-auto" alt="Лого">

                </div>

            </div>

            <div class="dropdown cursor-pointer p-1 mr-2 flex">
                <div class="flex items-center sm:mr-4">
                    <img src={% static 'main/img/coins.svg' %} class="mx-2 w-8 h-8 place-self-center">
                    <p class="blackfont  text-base  font-bold">{{ balance }}</p>
                </div>
            <div class="hidden sm:flex items-center">
                {% if avatar_img == None %}
                    <img src={% static 'main/img/standart_avatar.svg' %} class="mx-2 w-8 h-8 place-self-center">
                    {% else %}
                        <img src={{ avatar_img }} class="mx-2 w-8 h-8 place-self-center">
                {% endif %}


                <a  style="font-family: 'Nunito Sans'" class="place-self-center blackfont block font-bold  text-xs sm:text-sm md:text-base">{{ username }}</a>
                <div class="rounded-md shadow-sm flex"> 
                    <ul class="dropdown-menu absolute w-48 bg-white rounded-lg shadow-xl mt-5 -ml-48 hidden sm:mr-24 md:mr-32 lg:mr-48 xl:mr-64s">
                        <li class=""><a class="rounded-t blackfont hover:bg-black hover:text-white py-2 px-4 block whitespace-no-wrap" href="{% url 'profile' %}">Profile</a></li>
                        <li class=""><a style="" class="rounded-b blackfont hover:bg-black hover:text-white py-2 px-4 block whitespace-no-wrap" href="{% url 'sign_in' %}">Sign out</a></li>
                    </ul>                         
                </div>                           
            </div>

                
            </div>




        </div>




        <div id="main-nav" class="w-full items-center  hidden ">
            <div class="fixed h-full py-8 mt-8 sm:mt-12 text-sm my-2 animated jackinthebox px-8 text-center pinkbg blackfont">
                <a href="{% url 'index' %}"
                class="mt-2 block  text-md font-bold mx-2 hover:text-white  uppercase">
                HOME
                </a>
                 <p style="font-family: 'Arial'">________________</p>
                <a href="{% url 'lots' %}"
                class="mt-4 block  text-md font-bold mx-2 hover:text-white  uppercase">
                LOTS
                </a>
                <p style="font-family: 'Arial'">________________</p>
                <a href="{% url 'messager' %}"
                class="mt-4 block  text-md font-bold mx-2 hover:text-white  uppercase">
                MESSAGER
                </a>
                 <p style="font-family: 'Arial'">________________</p>
                <a href="{% url 'profile' %}"
                class="mt-4 block  text-md font-bold mx-2 hover:text-white  uppercase">
                PROFILE
                </a>
                <p style="font-family: 'Arial'">________________</p>
                <a href="{% url 'exchange_history' %}"
                class="mt-4 block  text-md font-bold mx-2 hover:text-white  uppercase">
                Exchange history
                </a>
            </div>
        </div>
    </nav>


  
    
    {% block content %}{% endblock %}




    {% else %}
    <div class="flex flex-col h-screen">
        <div class="m-auto">
            <p class="text-center">Oops... You are not logged into your account!</p>
            <div class="text-center">
                <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800" href="{% url 'sign_up' %}">Create an Account!</a>
            </div>
            <div class="text-center">
                <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800" href="{% url 'sign_in' %}">Already have an account? Login!</a>
            </div>
        </div>
    </div>
        
    {% endif %}



<script>
// Navbar Toggle
document.addEventListener('DOMContentLoaded', function () {

    // Get all "navbar-burger" elements
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  
    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
  
      // Add a click event on each of them
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {
  
          // Get the "main-nav" element
          var $target = document.getElementById('main-nav');
  
          // Toggle the class on "main-nav"
          $target.classList.toggle('hidden');
  
        });
      });
    }
  
  });
  </script>


</body>
</html>