{% extends "base_generic.html" %}

{% block content %}

{% load static %}



<style>
        .blackbg{
            background: #101010;
        }
        .yellowbg{
            background: #FFCE38;
        }
        .pinkbg{
            background: #FF3D67;
        }
        .whitebg{
            background: #FFFDFD;
        }
        .blackfont{
            color: #101010;
        }
        .whitefont{
            color: #FFFDFD;
        }
        .yellowfont{
            color: #FFCE38;
        }


    </style>




 <section class="pt-24">
        <div class="grid min-h-screen place-items-center">
            <div class="w-11/12 p-12 whitebg sm:w-8/12 md:w-1/2 lg:w-5/12  rounded-lg">
                <form class="mt-6" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                    <label for="name" class="block text-xs font-semibold blackfont uppercase">Name</label>
                     {{form.name}}

                    <label for="description" class="block mt-2 text-xs font-semibold blackfont uppercase">Description</label>
                     {{form.description}}

                     <label for="count" class="block mt-2 text-xs font-semibold blackfont uppercase">Count</label>
                     {{form.count}}

                      <label for="price" class="block mt-2 text-xs font-semibold blackfont uppercase">Price</label>
                     {{form.price}}

                      <label for="category" class="block mt-2 text-xs font-semibold blackfont uppercase">Category</label>
                     {{form.category}}

                      <label for="region" class="block mt-2 text-xs font-semibold blackfont uppercase">Region</label>
                     {{form.region}}

                      <label for="image" class="block mt-2 text-xs font-semibold blackfont uppercase">Image</label>
                      <div class="blackfont mt-2">
                        {{form2.title}}

                      </div>
                      <label for="image" class="block mt-2 text-xs font-semibold blackfont uppercase">Add your image:</label>
                      <div class="mt-2 blackfont">
                        {{form2.pic}}
                      </div>

                    <button type="submit" class="w-full py-3 mt-6 font-medium tracking-widest whitefont uppercase blackbg shadow-lg focus:outline-none hover:shadow-none hover:bg-gray-200  border hover:text-black border-black">Submit</button>
                </form>
            </div>
        </div>

        
    </section> 

{{error}}

{% endblock %}