{% extends "base_generic.html" %}

{% block content %}
<div class="flex flex-col h-screen">
      
	<form  class="m-auto whitebg px-8 py-4 rounded-lg" method="post" >
    {% csrf_token %}
    <label for="image" class="block mt-2 text-xs font-semibold blackfont uppercase">Input your new email address</label>
      <div class="blackfont mt-2">
        {{form.email}}
      </div>
      <button type="submit" class="w-full py-3 mt-6 font-medium tracking-widest whitefont uppercase blackbg shadow-lg focus:outline-none hover:shadow-none hover:bg-gray-200  border hover:text-black border-black">Submit</button>
      <form>
   
</div>
{% endblock %}