{% extends "base_generic.html" %}

{% block content %}

{% load static %}




{% if dealings == None %}
  			
	<div class="flex flex-col h-screen">
	    <div class="m-auto">
	        <p class="text-center text-2xl font-bold">Exchange history is empty!</b></p>
	    </div>
    </div>
	{% else %}


<div class="py-16">
	
</div>
<div class="whitebg pt-4 pb-16 mb-16 container rounded-lg mx-auto">


        <div class="flex flex-col">


  		
  	


          <p class="text-2xl blackfont font-bold text-center mt-24 my-8">My complete exchange:</p>
  		<div class="flex flex-row flex-wrap justify-center mx-4">

  	
  		{% for deal in dealings %}

            <div class="max-w-xs yellowbg shadow-2xl rounded-lg overflow-hidden mt-10 mx-4">
                <div class="whitebg px-4 py-2">

  					<p class="blackfont font-bold text-xl uppercase">{{ deal.0 }}</p>
                    <h1 class="blackfont font-bold text-xl uppercase">{{ deal.3.name }}</h1>
                    <div class="flex h-16">
                        <p class="blackfont text-sm my-auto">{{ deal.3.description }} </p>
                    </div>
                    
                    <div class="flex items-center justify-between ">
                    	<div class="flex  mt-1 mb-2 text-blue-400 text-sm">
	                    	<p>Region: </p>
	                    	{% for x in deal.3.category.all %}
	                        <p class="ml-2">{{x}}</p>
	                        {% endfor %}
                        </div>
                        <p class="text-sm mt-1 mb-2" style="color:#FF3D67">{{ deal.3.regions }}</p>
                    </div>
                </div>
                <img class="whitebg h-56 w-full object-cover " src={{ deal.3.image.pic.url }}>
                <div class="px-4 py-2 flex items-center justify-center">
                    <h1 class="blackfont font-bold text-xl">{{ deal.1 }}</h1>
                    <img src={% static 'main/img/coins.svg' %} class="mx-2 w-8 h-8 place-self-center">
                </div>
            </div>
		 {% endfor %}
        </div>

  	</div>

  </div>


    {% endif %}
{% endblock %}