{% extends "base_generic.html" %}

{% block content %}

<div class="pt-24">
    
</div>
{% load static %}
<div class="flex justify-center">
    <div class="block relative w-1/2">
        <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
            <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">
                <path
                    d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                </path>
            </svg>
        </span>
        <form action={% url "lots" %} method="GET">
            <input type="text" name="q" class="appearance-none rounded-lg border whitebg border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 blackfont focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none font-bold"/>
        </form>
    </div>
</div>




<div class="flex flex-row flex-wrap justify-center mx-4">

        {% for i in lots %}
            <a href={% url 'full_lots' i.id_lots %}>
            <div class="max-w-xs yellowbg shadow-lg rounded-lg overflow-hidden mt-10 mx-4">
                <div class="whitebg px-4 py-2">
                    <h1 class="blackfont font-bold text-xl uppercase">{{ i.name }}</h1>
                    <div class="flex h-16">
                        <p class="blackfont text-sm my-auto">{{ i.description }} </p>
                    </div>
                    
                    <div class="flex items-center justify-between ">
                        <p class="text-blue-400 text-sm mt-1 mb-2">{{ i.category }}</p>
                        <p class="text-sm mt-1 mb-2" style="color:#FF3D67">{{ i.regions }}</p>
                    </div>
                </div>
                <img class="whitebg h-56 w-full object-cover " src={{ i.image }}>
                <div class="px-4 py-2 flex items-center justify-center">
                    <h1 class="blackfont font-bold text-xl">{{ i.price }}</h1>
                    <img src={% static 'main/img/coins.svg' %} class="mx-2 w-8 h-8 place-self-center">
                </div>
            </div>
            </a>
        {% endfor %}
</div>

{% endblock %}