{% extends "base_generic.html" %}

{% block content %}
<div class="flex flex-col h-screen">
        <div class="m-auto">
            {% if message != None %}
            		<p class="text-center text-2xl">Exchange failed because:</p>
                    <p class="text-center text-2xl">{{ message }}</b></p>
                    {% else %}
                        <p class="text-center text-2xl">{{ goodmessage }}</b></p>
            {% endif %}
            <a href={% url 'lots' %}>
            	<p class="text-center text-2xl pinkfont font-bold">Back to lots</b></p>
            <a>
        </div>
    </div>
{% endblock %}