{% extends "base_generic.html" %}

{% block content %}

<div class="pt-24">
    
</div>
{% load static %}


  
    
 <div class="w-full  shadow-2xl rounded ">
  <div class="h-64 w-full blackbg pb-8">
    
    <div class="flex flex-col justify-center items-center  h-full blackbg whitefont">
      
      {% if avatar_img == None %}
        <img src={% static 'main/img/standart_avatar_yellow.svg' %} class="h-24 w-24 object-cover rounded-full">
        {% else %}
        <img src={{ avatar_img }} class="h-24 w-24 object-cover rounded-full">
      {% endif %}

      <h1 class="text-2xl font-semibold">{{ name_user }} </h1>
      <h4 class="text-sm font-semibold">Joined Since '{{ date }}</h4>

    </div>
  </div>

  <div class=" whitebg py-16 container rounded-lg mx-auto">

  	<div class="text-center">
      
    <a href="{% url 'add_lot' %}" type="button" class=" w-1/3 h-auto text-center text-2xl yellowbg py-2 px-6 focus:outline-none blackfont hover:bg-black border-2 hover:text-white font-bold border-black rounded-lg mx-4">Add lot</a>

    </div>


      {% if lots == None %}
  	
      
      <p class="text-2xl blackfont font-bold text-center mt-8">You don't have your lots yet</p>
      {% else %}
        <div class="flex flex-col">
          <p class="text-2xl blackfont font-bold text-center mt-24 my-8">My lots:</p>
  		<div class="flex flex-row flex-wrap justify-center mx-4">
  		{% for i in lots %}
            <a href={{i.id_lots}}>
            <div class="max-w-xs yellowbg shadow-2xl rounded-lg overflow-hidden mt-10 mx-4">
                <div class="whitebg px-4 py-2">
                    <h1 class="blackfont font-bold text-xl uppercase">{{ i.name }}</h1>
                    <div class="flex h-16">
                        <p class="blackfont text-sm my-auto">{{ i.description }} </p>
                    </div>
                    
                    <div class="flex items-center justify-between ">
                        <p class="text-blue-400 text-sm mt-1 mb-2">{{ i.category }}</p>
                        <p class="text-sm mt-1 mb-2" style="color:#FF3D67">{{ i.regions }}</p>
                    </div>
                </div>
                <img class="whitebg h-56 w-full object-cover " src={{ i.image }}>
                <div class="px-4 py-2 flex items-center justify-center">
                    <h1 class="blackfont font-bold text-xl">{{ i.price }}</h1>
                    <img src={% static 'main/img/coins.svg' %} class="mx-2 w-8 h-8 place-self-center">
                </div>
            </div>
            </a>
        {% endfor %}
        </div>
  	</div>

    {% endif %}


      {% if closed_lots == None %}
       <p class="text-2xl blackfont font-bold text-center my-8">You don't have closed your lots yet</p>
     {% else %}
    <div class="flex flex-col">

      <p class="text-2xl blackfont font-bold text-center mt-24 my-8">My closed lots:</p>

      <div class="flex flex-row flex-wrap justify-center mx-4">
      {% for i in closed_lots %}
            <a href={{i.id_lots}}>
            <div class="max-w-xs yellowbg shadow-2xl rounded-lg overflow-hidden mt-10 mx-4">
                <div class="whitebg px-4 py-2">
                    <h1 class="blackfont font-bold text-xl uppercase">{{ i.name }}</h1>
                    <div class="flex h-16">
                        <p class="blackfont text-sm my-auto">{{ i.description }} </p>
                    </div>
                    
                    <div class="flex items-center justify-between ">
                        <p class="text-blue-400 text-sm mt-1 mb-2">{{ i.category }}</p>
                        <p class="text-sm mt-1 mb-2" style="color:#FF3D67">{{ i.regions }}</p>
                    </div>
                </div>
                <img class="whitebg h-56 w-full object-cover " style="-webkit-filter: grayscale(100%); filter: grayscale(100%);" src={{ i.image }}>
            </div>
            </a>
        {% endfor %}
        </div>
    </div>

    {% endif %}

  </div>




</div>

<div class="my-16 text-center">
      
    <a href="{% url 'settings' %}" type="button" class=" w-1/3 h-auto text-center text-2xl blackbg py-2 px-6 focus:outline-none whitefont hover:bg-white border-2 hover:text-black font-bold border-white rounded-lg mx-4">Settings</a>

</div>


{% endblock %}